<header class="flex flex-row justify-between items-center px-4 h-16 bg-surface-0 dark:bg-surface-800 shadow-sm">
  <p-button severity="secondary" size="small">
    <span>
      <i class='bx bx-dots-vertical-rounded'></i>
    </span>
  </p-button>
  <div class="flex flex-row items-center gap-2">
    <div class="">
      <p-button severity="secondary" rounded text>
        <span>
          <i class="bx bx-bell"></i>
        </span>
      </p-button>
      <p-button 
        [rounded]="true"
        [text]="true"
        (onClick)="onDarkModeToggle()"
        severity="secondary" 
      >
        <span>
          <i [class]="{ 'bx': true, 'bx-sun': !darkMode, 'bxs-moon': darkMode }"></i>
        </span>
      </p-button>
      <p-button 
        [rounded]="true"
        [text]="true"
        (onClick)="menu.toggle($event)"
        severity="secondary" 
      >
        <span>
          <i class="bx bxs-user-circle"></i>
        </span>
      </p-button>
      <p-menu #menu [model]="items" [popup]="true" />
    </div>
  </div>
</header>