@for (menu of menus; track menu.name) {
  <ng-container *ngTemplateOutlet="isTitle(menu) ? menutitle : menuitem; context: { $implicit: menu }"></ng-container>
}
<ng-template #menutitle let-menu>
  <div class="px-4 py-2">
    <h1 class="text-primary-300 dark:text-surface-500 text-xs font-semibold">{{ menu.name }}</h1>
  </div>
  @if (hasItems(menu)) {
    <pos-sidebar-menu 
      [menus]="menu.items"
      (toggle)="toggle.emit($event)"
      (navigate)="navigate.emit($event)"
    ></pos-sidebar-menu>
  }
</ng-template>

<ng-template #menuitem let-menu>
  <div
    pRipple
    (click)="click($event, menu)"
    [class]="{ 
      'text-white': isActive(menu),
      'text-primary-200': !isActive(menu),
      'dark:text-surface-400': !isActive(menu)
    }"
    class="flex flex-row justify-between items-center px-4 py-2 text-sm font-medium hover:text-white cursor-pointer transition duration-150 ease-in-out"
  >
    <div class="flex flex-row items-center gap-2">
      <span class="text-md relative top-[1px]">
        <i [class]="'bx' + ( isActive(menu) ? 's-' : '-' ) + menu.icon" class="bx"></i>
      </span>
      <span>{{ menu.name }}</span>
    </div>
    @if (hasItems(menu)) {
      <div 
        [class]="{
          'rotate-0': !menu.open,
          'rotate-180': isOpen(menu),
          'ease-in': isOpen(menu),
          'ease-out': !menu.open,
        }"
        class="transition duration-150"
      >
        <i class='bx bxs-chevron-down'></i>
      </div>
    }
  </div>
  @if (hasItems(menu)) {
    <div class="px-4">
      <ng-container *ngTemplateOutlet="dropdownmenu; context: { $implicit: menu }"></ng-container>
    </div>
  }
</ng-template>

<ng-template #dropdownmenu let-menu>
  <ul
    [class]="{
      'max-h-[0px]': !menu.open,
      'max-h-[500px]': isOpen(menu),
      'ease-in': isOpen(menu),
      'ease-out': !menu.open
    }"
    class="ps-4 overflow-hidden transition-[max-height] duration-300"
  >
    @for(item of menu.items; track item.name) {
      <li
        (click)="click($event, item)"
        class="cursor-pointer"
      >
        <div
          [class]="{ 
            'text-primary-300': !isActive(item), 
            'text-white': isActive(item),
            'dark:text-surface-500': !isActive(item)
          }"
          class="flex flex-row justify-between items-center py-2 text-sm font-medium group hover:text-white transition duration-150 ease-in-out"
        >
          <!-- dot -->
          <div class="flex flex-row items-center gap-2">
            <div 
              [class]="{
                'bg-primary-300': !isActive(item),
                'bg-white': isActive(item),
                'dark:bg-surface-500': !isActive(item)
              }"
              class="size-1 rounded group-hover:bg-white transition duration-150 ease-in-out"
            ></div>
            <!-- name -->
            {{ item.name }}
          </div>
          @if (hasItems(item)) {
            <div 
              [class]="{
                'rotate-0': !menu.open,
                'rotate-180': isOpen(menu),
                'ease-in': isOpen(menu),
                'ease-out': !menu.open,
              }"
              class="transition duration-300"
            >
              <i class='bx bxs-chevron-down'></i>
            </div>
          }
        </div>
        @if (hasItems(item)) {
          <ng-container *ngTemplateOutlet="dropdownmenu; context: { $implicit: item }"></ng-container>
        }
      </li>
    }
  </ul>
</ng-template>